body{padding:10px;min-width:600px;}
body .small-font{font-size:.75em}
body .center{text-align:center}
body .italics{font-style:italic}
body .underlined{text-decoration:underline}
body.loading{cursor:wait;}
body.loading .loaded-display{display:none}
body.loading .loading-bg{background-image:url("/loader.gif");background-repeat:no-repeat;background-position:50%}
body.no-loading .pointer{cursor:pointer}
body.no-loading .loading-display{display:none}
.navbar .login{float:right;height:30px;margin-top:5px}
.navbar .login .auth{margin-top:-10px;height:30px}
footer{background:#fff;position:fixed;bottom:0;width:900px;opacity:.8}
footer hr{margin-top:0;margin-bottom:5px}
table{font-size:1.1em;}
table .ellipsis{text-overflow:ellipsis}
table .label{margin:1px}
.icon-remove{border-radius:4px;height:19px;width:19px}
.btn-icon{margin:2px;padding:2px}
.btn-icon i{width:15px;height:15px}
section{display:none;overflow-x:hidden;overflow-y:auto;margin-top:-20px}
.item{padding:20px}
.property-table .name{font-weight:bold;text-align:right;width:100px}
.property-table .value{text-align:left;padding-left:10px}
section.subscribers{padding:20px}
.cron-table{table-layout:fixed;}
.cron-table td{overflow:hidden}
.exec-output{min-height:100px}
.array-input-item{margin-bottom:5px}
.control-group.error input.no-error{border-color:#ccc}
