
/* line 1 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 154 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 154 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 25 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 557 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 557 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/jpillora/.grunt-sources/webtest/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 5 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.yscroll {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 9 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.italic {
  font-style: italic;
}

/* line 13 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
body {
  min-width: 650px;
}

/* line 16 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.sidebar-nav {
  position: fixed;
  height: 100%;
  width: 200px;
}

/* line 20 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.sidebar-nav .nav-list {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 24 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.content-wrapper {
  margin-left: 200px;
}

/* line 28 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */

/* line 29 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.download .buttons {
  padding: 10px;
}

/* line 31 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.download .disclaimer {
  margin: 20px;
}

/* line 34 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.build-tool-content {
  display: none;
}

/* line 38 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.share-buttons {
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 70px;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}

/* line 45 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.share-buttons:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 49 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
h3,
h5 {
  text-decoration: underline;
}

/* line 53 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
#app pre,
#app div[data-html] {
  padding: 15px;
  margin: 10px;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 60 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.topic[data-nav] {
  margin: 10px;
  margin-bottom: 50px;
}

/* line 64 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.nav-item a {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #08c;
}

/* line 67 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.nav-item.active a {
  color: #ec9422;
  font-weight: 500;
  padding-left: 10px;
}

/* line 72 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.nav-section .nav-header {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: relative;
}

/* line 75 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.nav-section.active .nav-header {
  left: 5px;
}

/* line 79 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.alert {
  margin: 10px;
  display: inline-block;
}

/* line 82 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.alert strong {
  font-style: italic;
}

/* line 86 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
a[data-link] {
  cursor: pointer;
}

/* line 90 : /Users/jpillora/Code/JavaScript/verifyjs-com/src/styles/app.styl */
.api-table td:nth-child(1) {
  font-family: Courier;
}
