.row-fluid.section(data-nav='API')
  .demo.topic(data-nav='Configure')
    table.table.table-striped.table-bordered.api-table
      thead
        tr
          th Method
          th Description
          th Parameters
      tbody
        tr
          td $.verify({...})
          td Override the global options object
          td
            | An 
            a(data-link) Options
            |  Object
        tr
          td
            | $
            code ("form")
            | .verify({...})
          td Enable and/or override the options of a selected form
          td
            | An 
            a(data-link) Options
            |  Object

    .alert.alert-info
      strong Note 
      code $("form").verify()
      |  gets automatically called on DOM ready (using default options). Though the above method will be required when dynamically adding new forms to the page.
  

  .demo.topic(data-nav='Rules')

    h5 Adding Rules

    table.table.table-striped.table-bordered.api-table
      thead
        tr
          th Method
          th Description
          th Parameters
      tbody
        tr
          td
            | $.verify.
            code addRules
            | ({...})
          td
            | Add new 
            b field
            |  rules
          td 
            | A map (Object) of rule names to 
            a(data-link) Definition Object
            | s.
        tr
          td
            | $.verify.
            code addGroupRules
            | ({...})
          td
            | Add new 
            b group
            |  rules
          td
            | A map (Object) of rule names to 
            a(data-link) Definition Object
            | s.
        tr
          td
            | $.verify.
            code updateRules
            | ({...})
          td
            | Update existing rules
          td
            | A map (Object) of rule names to 
            a(data-link) Definition Object
            | s. Only existing rules will be updated.

    p
      | The difference between field and group rules is largely outlined in the 
      a(data-link) Groups
      |  section above. There are also differences in the 
      a(data-link) Rule Object
      |  of each.

    h5(data-anchor) Definition Object

    p.
      When a Definition Object <code>o</code> is a <b>function</b>, it will be transformed
      into the object <code>{ fn: o }</code>.

    table.table.table-striped.table-bordered
      thead
        tr
          th Property
          th Type
          th Description
      tbody
        tr
          td fn
          td Function
          td The rule entry point (required)
        tr
          td extend
          td String
          td The name of the parent rule to extend
        tr
          td regex
          td RegExp
          td 
            | A regular expression used to construct a 
            code fn
            |  property
        tr
          td
            i
              code anything
          td Any
          td 
            | A variable that will be set on the  
            a(data-link) Rule Object

    h5(data-anchor) Rule Object

    p
      | The Rule Object is the single parameter in all validation rules. It is known as 
      code r
      |  in the examples. 
    

    table.table.table-striped.table-bordered
      thead
        tr
          th Type
          th Property
          th Type
          th Description
          th Parameters
      tbody
        tr
          td(rowspan=2) Field Only
          td field
          td JQuery Object
          td A reference to element being validated
          td None
        tr
          td val()
          td Function
          td 
            | An  alias to
            code r.field.val()
          td None (Getter) / Value (Setter)      

        tr
          td(rowspan=2) Group Only
          td field(id)
          td Function
          td
            | Gets a field by 
            a(data-link) group ID 
          td id
        tr
          td val(id)
          td Function
          td 
            | An  alias to
            code r.field(id).val()
          td id (Getter) / id,Value (Setter)

        tr
          td(colspan='5'): i Documentation in progress...


  .demo.topic(data-nav='Selectors')
    table.table.table-striped.table-bordered.api-table
      thead
        tr
          th Method
          th Description
          th Parameters
      tbody
        tr
          td
            | $("#my-form").
            code validate
            | (...)
          td Programmatically trigger validation on every element in the form.
          td callback(success)
        tr
          td
            | $("#my-text-input").
            code validate
            | (...)
          td Programmatically trigger validation on a single element.
          td callback(success)
//API 