
.row-fluid(data-nav-heading='Basic Validation')
  .demo(data-nav-anchor='Hello World')
    | Given the following form
    pre.prettyprint.
      <form id="myForm">
        <input value="42">
        <input value="xx">
        <input class="submit" type="submit"/>
      </form>
                      
    | Add some validation rules
    pre(data-html='data-html').
      
    | Boom
    div(data-html='data-html')
      form
        input(value='42', data-validate='number')
        input(value='xx', data-validate='number')
        input.submit(type='submit')
    .alert.alert-info
      strong Note 
      | Verify.js will auto-initialise all forms that contain an element with a 
      code data-validate 
      | attribute. Since we're just using defaults settings, no extra code is required.
  .demo(data-nav-anchor='Multiple Validation Rules')
    | You can also add multiple validation rules
    pre(data-html='data-html').
      
    | Like so
    div(data-html='data-html')
      form
        input(name='num', value='', data-validate='required,number')
        input.submit(type='submit')
    .alert.alert-info
      strong Note 
      | You can use any combination of validation rules. Each field will execute it's
      | validation rules in sequence, even asynchronous rules ! See 
      a(data-link='data-link') Execution Sequence 
      | for more information.
  
  .demo(data-nav-anchor='Included Validation Rules')
    table.rules-table.table.table-striped.table-bordered
      thead
        tr
          th Name
          th Parameters
          th Description
        tr
          td currency
          td None
          td Ensures a monetary value has been entered
        tr
          td required
          td None
          td The value of the element cannot be blank
        tr
          td(colspan='3')
            i and many more yet to be documented...
//Basic 