.row-fluid(data-nav-heading='The Githubs')
  .demo(data-nav-anchor='Contributing')
    .alert
      strong Note 
      | Documentation In Progress !
  .demo(data-nav-anchor='Change Log')
    .alert
      strong Note 
      | Documentation In Progress !
  .demo(data-nav-anchor='Credits')
    .alert
      strong Note 
      | Documentation In Progress !
