.row-fluid(data-nav-heading='Introduction')
  div(data-nav-anchor='Features')
    ul
      li Unobtrusive
      li Easily extendable
      li Configurable validations with parameters
      li Fully customisable asynchronous validations
      li Grouped validations
  div(data-nav-anchor='Include')
    h5(nav-id='download') Download
    b With
    |  Notify.js (
    a(href='http://notifyjs.com', target='_blank') http://notifyjs.com
    | )
    ul
      li
        | Production - 
        a(href='https://raw.github.com/jpillora/verifyjs/master/dist/verify.notify.min.js') verify.notify.min.js
      li
        | Development - 
        a(href='https://raw.github.com/jpillora/verifyjs/master/dist/verify.notify.js') verify.notify.js
    | Without Notify.js
    ul
      li
        | Production - 
        a(href='https://raw.github.com/jpillora/verifyjs/master/dist/verify.min.js') verifyjs.min.js
      li
        | Development - 
        a(href='https://raw.github.com/jpillora/verifyjs/master/dist/verify.js') verify.js
    .alert
      strong Note 
      | Without Notify.js, you will need to implement a 
      a(data-link) Prompt Handler
      |  in order to see validation results.
    h5 GitHub Hosted
    pre.prettyprint.
      <!-- jQuery -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
      
      <!-- Verify.js (with Notify.js included) -->
      <script src="http://verifyjs.com/js/verify.notify.min.js"></script>
                      
    .alert.alert-error
      strong Watch out !  
      | This website is hosted on GitHub Pages and this link may be subject to bandwidth limits.