.row-fluid(data-nav='Introduction')
  div(data-nav='Features')
    ul
      li Unobtrusive
      li Easily extendable
      li Configurable validations with parameters
      li Fully customisable asynchronous validations
      li Grouped validations

  div.download(data-nav='Download')

    .build-tool(ng-controller="BuildToolController")
      | Build your own Verify.js with only the rules you need
      .buttons
        button.btn.btn-primary Build your own Verify.js

      .build-tool-content
        | hello world

    p.disclaimer.italic.
      Alternatively, you can download one of the pre-packaged versions. Please note, that
      the date validation rules are <b>not</b> included as it requires
      <a>Moment.js</a>.

    .with-notify
      b With
      |  Notify.js (
      a(href='http://notifyjs.com', target='_blank') http://notifyjs.com
      | )
      .buttons
        a(href='dist/verify.notify.min.js')
          button.btn Download verify.notify.min.js
        a(href='dist/verify.notify.js')
          button.btn Download verify.notify.js

    .without-notify
      | Without Notify.js
      .buttons
        a(href='dist/verify.min.js')
          button.btn Download verifyjs.min.js
        a(href='dist/verify.js')
          button.btn Download verify.js

    .alert
      strong Note 
      | Without Notify.js, you will need to implement a 
      a(data-link) Prompt Handler
      |  in order to see validation results.

    h5 GitHub Hosted
    pre.prettyprint
      &lt;!-- jQuery --&gt;
      &lt;script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"&gt;&lt;/script&gt;
      
      &lt;!-- Verify.js (with Notify.js included) --&gt;
      &lt;script src="http://verifyjs.com/dist/verify.notify.min.js"&gt;&lt;/script&gt;
                      
    .alert.alert-error
      strong Watch out !  
      | This website is hosted on GitHub Pages and this link may be subject to bandwidth limits.