body
  padding: 10px
  min-width: 600px
  //reusables
  .small-font
    font-size: 0.75em
  .center
    text-align: center
  .italics
    font-style: italic
  .underlined
    text-decoration: underline
  //loading modes
  &.loading
    cursor: wait
    //loaders
    .loaded-display
      display:none;
    .loading-bg
      background-image: url('/loader.gif')
      background-repeat: no-repeat;
      background-position: 50%;

  &.no-loading
    //pointer cursor
    .pointer
      cursor: pointer
    //loaders
    .loading-display
      display:none;

//header
.navbar .login
  float: right
  height: 30px
  margin-top: 5px

.navbar .login .auth
  margin-top: -10px
  height: 30px

//footer
footer
  background: white
  position: fixed
  bottom: 0
  width: 900px
  opacity: 0.8

footer hr
  margin-top: 0
  margin-bottom: 5px

//all tables
table
  font-size: 1.1em
  .ellipsis
    text-overflow: ellipsis
  .label
    margin: 1px

//icons
.icon-remove
  border-radius: 4px
  height: 19px
  width: 19px

.btn-icon
  margin: 2px
  padding: 2px

.btn-icon i
  width: 15px
  height: 15px

//cron subs windows
section
  display: none
  overflow-x: hidden
  overflow-y: auto
  margin-top: -20px

.item
  padding: 20px

//key value tables
.property-table
  .name
    font-weight: bold
    text-align: right
    width: 100px
  .value
    text-align: left
    padding-left: 10px

//subscriber styles
section.subscribers
  padding: 20px

//cron styles
.cron-table
  table-layout: fixed

  td
    overflow: hidden

//cron exec
.exec-output
  min-height: 100px

//array-input directive
.array-input-item
  margin-bottom: 5px

.control-group.error input.no-error
  border-color: #ccc

