
//resusables
.yscroll
  overflow-x: hidden
  overflow-y: auto

body
  min-width: 650px

.sidebar-nav
  padding-top: 20px
  position: fixed

.content-wrapper
  margin-left: 200px
//share
.share-buttons
  padding: 15px
  position: fixed
  bottom: 0
  height: 70px

//headers
h3,h5
  text-decoration: underline

//code blocks
#app pre, #app div[data-nav-anchor] div[data-html]
  padding: 15px
  margin: 10px
  border: 1px solid rgba(0, 0, 0, 0.15)
  border-radius: 3px

//navs
div[data-nav-anchor]
  margin: 10px
  margin-bottom: 50px

.nav-section.active
  padding: 2px
  margin: 2px
  border-radius: 3px
  background: #eee

.nav-item.active
  padding: 2px
  margin: 2px
  border-radius: 3px
  background: #08C
  a
    color: whitesmoke

//alerts
.alert
  margin: 10px
  display: inline-block
.alert strong
  font-style: italic

//links
a[data-link]
  cursor: pointer

//api table
.api-table td:nth-child(1)
  font-family: Courier


