//body
body
  padding-top: 20px

@media (max-width: 979px)
  body#app
    padding-top: 20px

@media (min-width: 767px)
  .sidebar-nav
    position: fixed

  body
    min-width: 950px

//share
.share-buttons
  padding: 15px

//headers
h3,h5
  text-decoration: underline

//code blocks
#app pre, #app div[data-nav-anchor] div[data-html]
  padding: 15px
  margin: 10px
  border: 1px solid rgba(0, 0, 0, 0.15)
  border-radius: 3px

//navs
div[data-nav-anchor]
  margin: 10px
  margin-bottom: 50px

.nav-anchors
  display: none

//alerts
.alert
  margin: 10px
  display: inline-block
.alert strong
  font-style: italic

//links
a[data-goto]
  cursor: pointer

//api table
.api-table td:nth-child(1)
  font-family: Courier


