
//inline styles, no css yet!
//- .loading-cover(style='z-index: 2000; position: fixed; height: 100%; width: 100%; top: 0px; left: 0px; color: #1B1B1B; text-align: center; padding-top: 40px; font-size: 40px; background: url(\'http://framework.jpillora.com/img/loading64black.gif\') no-repeat scroll 50% 100px white; font-family: Helvetica;') Loading...

include share