//Header 
header
  .navbar
    .navbar-inner
      .container
        a.brand(href="#/cron-jobs") Cron Engine
        ul.nav(ng-repeat='section in sections')
          li(ng-class='activeSection(section)')
            a.pointer(ng-bind='section', ng-href="#/{{ section | slugify }}")
        
        .login(ng-controller='AuthController')
          input.input-small(type='text', placeholder='Username', ng-model='username', ng-disabled='hasUser')
          input.input-small(type='password', placeholder='Password', ng-model='password', ng-disabled='hasUser')
          button.btn.auth(ng-bind='hasUser && "Logout" || "Login" ', ng-click='toggleAuth()')