!!! strict
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='description', content='A powerful, customizable, asynchronous form validation library')
    meta(name='keywords', content='jquery simple easy to use customizable asynchronous form validation library')
    meta(name='author', content='Jaime Pillora')
    title Verify.js - A powerful, customizable, asynchronous form validation library
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css')
    link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css')
    //- link(rel='stylesheet', type='text/css', href='css/aller/stylesheet.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')

  body#app
    include absolutes
    include scripts

    .sidebar-nav.pull-left.yscroll
      ul#nav-list.nav.nav-list

    .content-wrapper
      //- Heading
      .row-fluid.section
        h1 Verify.js
        p A powerful, customizable asynchronous form validation library

      .alert
        strong Note 
        | As this library and corresponding documentation is a work
        | in progress, this API is subject to change.
      
      //- Sections
      include section/intro
      include section/basic
      include section/custom
      include section/api
      include section/options
      include section/advanced
      include section/githubs

      //- Footer
      hr
      footer
        p © Jaime Pillora 2012
