!!! strict
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='description', content='A powerful, customizable, asynchronous form validation library')
    meta(name='keywords', content='jquery simple easy to use customizable asynchronous form validation library')
    meta(name='author', content='Jaime Pillora')
    title Verify.js - A powerful, customizable, asynchronous form validation library
    link(rel='stylesheet', type='text/css', href='css/aller/stylesheet.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')
  body#app
    
    include absolutes

    .container-fluid
      .row-fluid
        include nav
        include content
      hr
      footer
        p © Jaime Pillora 2012

    include vendor
    // Scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
    script(src='demo/lib/verify.prompt.min.js')
    script(src="js/app.js")