.share-buttons

  div
    iframe(src="http://ghbtns.com/github-btn.html?user=jpillora&type=follow",
           allowtransparency="true",frameborder="0",scrolling="0",width="130",height="20")
  div
    iframe(src="http://ghbtns.com/github-btn.html?user=jpillora&repo=verifyjs&type=watch&count=true",
           allowtransparency="true",frameborder="0",scrolling="0",width="130",height="20")
  
  div
    a.twitter-share-button(href='https://twitter.com/share', data-url='http://verifyjs.com', data-text='Verify.js - A powerful, customizable, asynchronous form validation library', data-hashtags='verifyjs') Tweet
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  //- div
  //-   #fb-root
  //-   script
  //-     (function(d, s, id) {
  //-     var js, fjs = d.getElementsByTagName(s)[0];
  //-     if (d.getElementById(id)) return;
  //-     js = d.createElement(s); js.id = id;
  //-     js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  //-     fjs.parentNode.insertBefore(js, fjs);
  //-     }(document, 'script', 'facebook-jssdk'));
  //-   .fb-like(data-send='false', data-layout='button_count', data-width='450', data-show-faces='true')
