.row-fluid
  h1 Verify.js
  p A powerful, customizable asynchronous form validation library

a(href='https://github.com/jpillora/verifyjs')
  img(style='position: absolute; top: 0; right: 0; border: 0;',
      src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png',
      alt='Fork me on GitHub')

.alert
  strong Note 
  | As this library and corresponding documentation is a work
  | in progress, this API is subject to change.