//Selected Execution Screen 
.selected-execution.item(ng-controller='CronExecutionController')
  .clearfix
    h4.pull-left.underlined Cron Job Execution
    span.pull-right
      a(ng-href='#/cron-jobs/{{ exec.cronJobId }}')
        button.btn.btn-primary.back Back

  .table-wrapper.well.loading-bg
    table.property-table
      tr
        td.name Execution ID
        td.value(ng-bind='exec.cronExecutionId')
      tr
        td.name Job ID
        td.value
          a(ng-bind='exec.cronJobId', ng-href='#/cron-jobs/{{ exec.cronJobId }}')
      tr
        td.name URL
        td.value
          a(target='_blank', ng-bind='exec.url', ng-href='{{ exec.url }}')
      tr
        td.name Headers
        td.value(ng-bind-html-unsafe='exec.headerList | headerify:true')
      tr
        td.name Scheduled
        td.value(ng-bind='exec.scheduled | date')
      tr
        td.name Started
        td.value(ng-bind='exec.started | date')
      tr
        td.name Finished
        td.value(ng-bind='exec.finished | date')
      tr
        td.name Timeout
        td.value(ng-bind='exec.timeout*1000 | duration')
      tr
        td.name Frequency
        td.value(ng-bind='exec.frequency')
      tr
        td.name Tags
        td.value(ng-bind-html-unsafe='exec.tagList | tagify')
      tr
        td.name HTTP Code
        td.value(ng-bind='exec.httpCode')
      tr(ng-show='exec.errorMessage')
        td.name Error
        td.value(ng-bind='exec.errorMessage')

  div
    h4 Output
    pre.exec-output.loading-bg
      code(ng-bind='exec.output')


