// Cron Jobs List Screen 
.cron-job-list.active.item(ng-controller="CronJobsController")
  // Cron Jobs Heading 
  .clearfix
    h4.pull-left.underlined Cron Job List
    span.pull-right
      a.btn.btn-primary(ng-click='addJob', href='#/cron-jobs/add') Add Cron Job

  table.table.cron-table.table-condensed
    //Headings 
    thead
      tr
        th ID
        th URL
        th Headers
        th Timeout
        th Frequency
        th Tags
        th Actions
    //Rows 
    tbody(ng-repeat='job in jobs')
      tr.pointer(ng-click='select(job)',href="test")
        td.ellipsis(ng-bind='job.cronJobId')
        td(ng-bind='job.url')
        td(ng-bind-html-unsafe='job.headerList | headerify')
        td(ng-bind='job.timeout*1000 | duration')
        td(ng-bind='job.frequency')
        td(ng-bind-html-unsafe='job.tagList | tagify')
        td
          a.btn.btn-small.btn-icon(ng-click='edit(job, $event)')
            i.icon-edit
          a.btn.btn-small.btn-icon(ng-click='remove(job, $event)')
            i.icon-remove(alt='Some texts')
    //Footer 
    tfoot
      tr.loaded-display(ng-show='!jobs.length')
        td.center(colspan='7')
          h4 No Cron Jobs Yet
      tr.loading-display
        td.center(colspan='7')
          h4 Loading...